@using BlazorAppSPA.DAL
@using BlazorAppSPA.Repository
@using BlazorAppSPA.DTO
@page "/ListEmployees"
@inject IEmployeeService employeeService

<h2>Employee Details</h2>
<p>
    <a href="/AddEmployee">Create New Employee</a>
</p>
@if (employeeModels == null)
{
    <img src="./basicloader.gif" />
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Designation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in employeeModels)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Department</td>
                    <td>@item.Designation</td>
                    <td>
                        <a href="/EditEmployee/@item.Id">Edit</a>
                        <a href="/DeleteEmployee/@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}









@code
{
    IEnumerable<EmployeeModel> employeeModels;
    protected override async Task OnInitializedAsync() // similar to PageLoad() in asp.net, and init() in angular
    {
        employeeModels = await employeeService.GetEmployees();


    }
}